body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, rgba(145, 29, 29, 0.00) 0%, #911D1D 41.6%);
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: none; /* Inicialmente oculto */
}

form.active {
    display: block; /* Muestra el formulario activo */
    margin: auto;
    margin-top: 60px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #949d9a45;
}

button {
    background-color: #911D1D;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #911D1D;
}

p {
    text-align: center;
    margin-top: 10px;
}

/* Styles for images with specific IDs */
#loginImage, #registerImage {
    display: block; /* Make the image a block element to center it */
    margin: 0 auto; /* Auto margin horizontally centers the block element (image) */
    width: 20%;
    max-width: 200px;
    margin-bottom: 20px;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
form {
max-width: 75%;
}

#loginImage, #registerImage {
width: 50%;
}

input {
font-size: 14px;
}

button {
font-size: 16px;
}
}
