/*  Imports de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/*  Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root{

    /* Paleta de colores Principales */
    --rose-color-accent1: #7e0037;
    --rose-color-accent2: #9f0c51;
    --rose-color-accent3: #c21a6c;
    --rose-color-accent4: #e62788;
    --rose-color-accent5: #fb49a5;
    --rose-color-accent6: #ff72c2;
    --rose-color-accent7: #ff93e0;
    --rose-color-accent3: #ffb3ff;

    /* Paleta de colores secundarios */
    --gray-color-accent1: #EDEDED;

    /* Paleta de Colores para texto.*/
    --text-color-gray: #555555;

    --color-gray: #D9D9D9;

    /* Tipografias */
    --Montserrat-font: 'Montserrat', sans-serif;

    /* Tamaños de letras */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;

}

/* Animated Wave Background Style  */
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: linear-gradient(180deg, #FFF 13.02%, #7E0037 100%);
}


/* Login Section Style */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: -20px 0 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #0e263d;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.main-forms-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 600px 0 50px 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 1000px;
    max-width: 100%;
    min-height: 550px;
    transition: 333ms;
    margin-top: 60px;
}


.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
    display: block;
}


.form-container input {
    background: #eee;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 300px;
}

.form-container input::placeholder{
    color: black;
}

.form-container input:hover {
    transform: scale(101%);
}

button {
    border-radius: 10px;
    box-shadow: 0 1px 1px ;
    background: var(--rose-color-accent4);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    border-color: #fff;
    cursor: pointer;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

button.ghost:hover{
    background-color: #eee;
    color: var(--rose-color-accent4);
    transition: all .2s;
}

.responsive-form{
    display: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.sign-up-container p{
    color: black;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ff416c;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel h1,p{
    color: white;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Move signin to right */
.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}

@media (max-width: 1060px) {
    .container{
        display: none;
    }

    .overlay-panel h1, p{
        color: black;
        
    }

    .responsive-form{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .space-form-container{
        width: 500px;
        height: 80%;
        background-color: white;
        padding: 32px;
        text-align: center;
        border-radius: 24px;
        margin-top: 80px;
        box-shadow: 2px 4px 14px 0px;
        overflow: hidden;
    }

    .form-container > form{
        display: flex;
        flex-direction: column;
    }

    form.sign-in-form{
        display: none;
    }

}

@media (max-width: 570px) {
    .space-form-container{
        width: 80%;
        padding: 16px;
    }

    .form-container > form{
        padding: 0 0;
    }

    .form-container  input{
        width: 260px;
    }
}